.info-modal{
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;   
    padding-left: 8px;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.986);
    color: white;
    animation: from-top .8s forwards;
}

.info-modal h2 {
    color: white;
    font-size: 24px;
    margin-left: 8px;
    margin-top: 44px;
}

.info-modal span {
    font-size: 16px;
    padding: 0px;
}

.info-modal ul {
    margin: 16px 36px 16px 20px;
    margin-left: 8px;    
}

.info-modal li {
    margin-bottom: -4px;
}

.info-modal > ul > li > span > a {
    color: white;
}

.hard-modal {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;   
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.986);
    color: white;
    animation: from-top .8s forwards;
}

.hard-modal h2 {
    color: white;
    font-size: 24px;
    margin-top: 44px;
    margin-left: 4px;
}

.hard-modal > box-icon {
    display: inline;
    margin: auto;
}

.hard-modal ul {
    margin: 16px 36px 16px 24px;
    display: flex;
    flex-direction: column;
}

.hard-modal ul .modal-li {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0;
} 

.hard-modal span {
    font-size: 16px;
    padding: 4px;
    text-align: justify;
}

.hard-modal ul li {
    margin-bottom: -8px;
}

.hard-modal > ul > li > span > a {
    color: white;
}

.soft-modal {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;   
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.986);
    color: white;
    animation: from-top .8s forwards;
}

.soft-modal h2 {
    color: white;
    font-size: 24px;
    padding-top: 44px;
    margin-left: 8px;
}

.soft-modal > box-icon {
    margin: auto;
}

.soft-modal ul .modal-li {
    margin-left: 0;
    justify-content: space-around;
} 

.soft-modal span {
    font-size: 16px;
    padding: 4px;
    text-align: justify;
}

.soft-modal ul {
    margin: 16px 36px 16px 20px;
    display: flex;
    flex-direction: column;

}

.soft-modal ul li {
    margin-bottom: -12px;
    padding: 8px;
}

.soft-modal > ul > li > span > a {
    color: white;
}

.interesses-modal {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;   
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.986);
    color: white;
    animation: from-top .8s forwards;
}

.interesses-modal h2 {
    color: white;
    font-size: 24px;
    margin-top: 44px;
    margin-left: 8px;
}

.interesses-modal span {
    font-size: 16px;
    padding: 0px;
    text-align: justify;
    text-indent: 40px;
}

.interesses-modal ul {
    margin: 16px 36px 16px 20px;
    display: flex;
    flex-direction: column;
}

.interesses-modal li {
    margin-bottom: -8px;
}

.interesses-modal > ul > li > span > a {
    color: white;
}

.fechar {
    position: absolute;
    top: 46px;
    right: 24px;
    font-size: 50px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    text-shadow: 1px 2px 20px black;
    height: 54px;
    width: 54px;
    z-index: 500;
    padding-bottom: 8px;
    padding-right: 1px;
    border: 1px solid white;
    border-radius: 50px;
}
    
.fechar:hover{
    transform: scale(1.1);
}

