@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
}

header {
    color: rgb(255, 255, 255);
    background-color: black;
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header > h1 {
    font-size: 48px;
    margin-left: 40px;
    font-weight: 700;
    line-height: 40px;
}

nav > ul {
    display: none;
}

#inicio {
    padding: 0;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

div {
    padding: 20px 0px;
}

div > h2 {
    font-size: 32px;
    font-weight: 500;
}

div > p {
    font-size: 20px;
    padding-bottom: 36px;
    text-align: justify;
}

#lado-esquerdo {
    margin: 40px auto;
    padding: 0px 40px;
}

.resumo > p{
    text-indent: 40px;
}

#lado-direito {
    padding: 20px 20px;
    width: 100vw;
    margin: 0px auto;
    background-color: rgb(233, 233, 233);
    border-left: 1px solid black;
    text-align: justify;
}

hr {
    height: 1px;
    background-color: black;
    border: none;
}

ul {
    margin: 40px auto;
    padding: 0px;
}

ul > h2 {
    font-size: 32px;
    padding: 0px 8px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.860);
}

ul > li {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    padding: 8px 0px;
    margin: 12px;
}

ul > hr {
    margin-left: 8px;
}

span {
    padding: 4px 0px;
    display: flex;
    flex-direction: row;
}

span > a {
    color: black;
    text-decoration: none;
}

span > box-icon {
    padding: 0px 4px;
}

.interesses-text {
    text-indent: 40px;
}

.desenvolvi {
    text-indent: 40px;
}



@media (min-width: 800px) and (max-width: 1200px) {

header {
    text-align: center;
    align-items: center;
    justify-content: center;
}

#reta {
    display: none;
}

header > h1 {
    font-size: 28px;
    font-weight: 900;
    text-align: center;
    margin: 24px auto;
    color: white;
    }
    
    header {
        color: rgb(0, 0, 0);
        background-color: black;
        height: auto;
    }
    
    nav {
        background-color: rgb(243, 243, 243);
        margin: 0;
        width: 100%;
    }
    
    nav > ul {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    
    nav > ul > li {
       font-weight: 700;   
    
    }
    
    nav > ul > li > a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        list-style: none;
        font-size: 16px;
        padding: 0;
        margin: 0;
    }
    
    nav > ul > li > a:hover{
        text-shadow: 2px 1px 20px rgba(0, 0, 0, 0.253);
        transform: scale(1.1);
    }

#lado-direito {
    display: none;
}

}

@media (min-width: 360px) and (max-width: 800px) {

#reta {
display: none;
}

#lado-direito {
display: none;
}

#inicio {
    margin-top: 160px;
}

.scroll-baixo header {
    transform: translate3d(0, -100%, 0);
}

.scroll-cima header {
    filter: drop-shadow(0 -10px 20px rgba(0, 0, 0, 0.363));
}

header {
    color: rgb(0, 0, 0);
    background-color: black;
    height: auto;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 300;
    transition: all 300ms ease-in-out;
}

header > h1 {
font-size: 28px;
font-weight: 900;
text-align: center;
margin: 24px auto;
color: white;
}

nav {
    background-color: rgb(243, 243, 243);
    margin: 0;
}

nav > ul {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

nav > ul > li {
   font-weight: 700;   
   margin: 0 auto;
}

nav > ul > li > a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    list-style: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

nav > ul > li > a:hover{
    text-shadow: 2px 1px 20px rgba(0, 0, 0, 0.253);
    transform: scale(1.1);
}

section {
    margin: 0 auto;
    padding: 0px;
}

div > p {
    font-size: 16px;
    text-align: justify;
}

.resumo {
    margin: 0 auto;
    padding: 0 auto;
}

#lado-esquerdo {
    margin-top: 0;
}

div > h2 {
    font-size: 24px;
    text-align: left;
}

.info-modal{
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;   
    padding-left: 8px;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.938);
    color: white;
}

.info-modal h2 {
    color: white;
}

.info-modal span {
    font-size: 16px;
    padding: 0px;
}

.info-modal > ul > li > span > a {
    color: white;
}

.hard-modal {
    display: none;
}

.soft-modal {
    display: none;
}

.interesses-modal {
    display: none;
}

.fechar {
    position: absolute;
    top: 46px;
    right: 24px;
    font-size: 50px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    text-shadow: 1px 2px 20px black;
    height: 54px;
    width: 54px;
    z-index: 500;
    padding-bottom: 8px;
    padding-right: 1px;
    border: 1px solid white;
    border-radius: 50px;
}
    
.fechar:hover{
    transform: scale(1.1);
}

}